<% 10.times do %>
<b>
THE PLANET IS ‘SPLODIN’!
</b>
<% end %>


<img class="aboutImg" src="img/about_img.png">
<a href="http://google.com/" target="_blank">Sed ut perspiciatis</a> unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est. Ut enim ad minima veniam!
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro <a href="http://google.com/" target="_blank">quisquam est</a>.</p>
<div class="galleryImg2">
	<a href="/about"><img src="img/sample_img2.png"></a>
</div>
<div class="galleryImg2">
	<a href="/about"><img src="img/sample_img2.png"></a>
</div>
<div class="galleryImg2">
	<a href="/about"><img src="img/sample_img2.png"></a>
</div>
<div class="galleryImg2">
	<a href="/about"><img src="img/sample_img2.png"></a>
</div>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro <a href="http://google.com/" target="_blank">quisquam est</a>. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>